dlt[duckdb]
fastparquet
jupyter
langchain
langchain-community
langchain-core
langchain-graph-retriever
langchain-huggingface
langchain-ollama
langchain-postgres
langgraph
langgraph-cli[inmem]
langgraph-prebuilt
langgraph-sdk
langsmith
loguru
numpy
pandas
pyarrow
rank-bm25
sentence-transformers
tqdm
prometheus-client
fastapi
gradio
pyngrok